<div class="text-center">
  <h1 class="mb-4">Travel Journal</h1>
  <p class="lead mb-4">Keep a log of your travels and remember every moment</p>
  
  <% if current_user %>
    <%= link_to "View My Places", places_path, class: "btn btn-primary btn-lg" %>
  <% else %>
    <%= link_to "Sign Up", signup_path, class: "btn btn-primary btn-lg me-2" %>
    <%= link_to "Login", login_path, class: "btn btn-outline-primary btn-lg" %>
  <% end %>
</div>
