<h1 class="mb-4">My Places</h1>

<div class="row">
  <% @places.each do |place| %>
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= place.name %></h5>
          <p class="card-text"><%= place.entries.count %> entries</p>
          <%= link_to "View", place_path(place), class: "btn btn-sm btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="mt-4">
  <%= link_to "Add New Place", new_place_path, class: "btn btn-success" %>
</div>
